/*=====================================
    MIN WIDTH STYLE
=====================================*/
@media only screen and (min-width: 1201px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 576px) {

}

/*=====================================
    MAX WIDTH STYLE
=====================================*/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
    /*--- Header Section ---*/
    .header-section .navbar .site-navigation {position: fixed; top: 0; left: -325px; z-index: 9999; width: 320px; max-width: calc(100% - 45px); height: 100%; padding: 30px; margin: 0; background: #ffffff; list-style: none; overflow-x: scroll; transition: all 0.35s; box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.2); }
    .header-section .navbar .site-navigation.open {left: 0px; }
    .header-section .navbar .site-navigation .nav-item { margin: 0; }
    .header-section .navbar .site-navigation .nav-item.dropdown {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; }
    .header-section .navbar .site-navigation .nav-item.dropdown .dropdown-menu { display: none !important; position: unset; transform: none; border: 0; background: transparent; box-shadow: none; padding: 15px 0; margin: 0; margin-left: 10px; }
    .header-section .navbar .site-navigation .nav-item.dropdown .dropdown-menu.show { display: block !important; }
    .header-section .navbar .site-navigation .dropdown-menu .pages-title { margin-top: 1rem!important; }
    .header-section .navbar .site-navigation .dropdown-menu .pages-title.first-title { margin-top: 0 !important; }
    .header-section .navbar .site-navigation .dropdown-menu .menu-links { margin-left: 10px; }
    .header-section .navbar .site-navigation .dropdown-toggle {background: #e9e9ed; border: 0; width: 30px; height: 30px; border-radius: 5px; padding: 0; }
    .header-section .navbar .site-navigation .dropdown-toggle::after {vertical-align: middle; border-top: 0.4em solid red; border-right: 0.4em solid transparent; border-left: 0.4em solid transparent; }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {

}