/*=====================================
    Project Name: Portfolio,
    Description: HTML5, CSS3 , JS , Jquery and Fully Responsive Web Design,
    Author: Rudra Dave,
    Version: 1.0.
=====================================*/

/* ================================
   COLORS VARIABLES
================================ */
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-normal: #131313;
    --text-black-strong: #504e70;
    --text-lighter-300: #303033;
    --theme-color: #0097CD;
    --img-theme-color: brightness(0) saturate(100%) invert(82%) sepia(21%) saturate(6833%) hue-rotate(146deg) brightness(84%) contrast(87%);
    --box-shadow: rgba(0,0,0,0.3);
}

body.darkTheme {
    --bg-black-900: #131313;
    --bg-black-100: #262626;
    --bg-black-50: #e8dfec;
    --text-black-normal: #f5f5f5;
    --text-black-strong: #e9e9e9;
    --text-lighter-300: #b3b3b3;
    --box-shadow: rgba(255,255,255,0.3);
}

/*=====================================
    COMMON CSS
=====================================*/
body { line-height: 1.5; font-family: 'poppins' sans-serif; font-size: 16px; padding: 0px;  margin: 0px; background: var(--bg-black-900); color: var(--text-black-normal); }

h1, h2, h3, h4, h5, h6 { font-weight: 400; margin: 0; padding: 0px; }

p, ul, li { list-style: none; margin: 0; padding: 0px; }

img { height: auto; max-width: 100%; }

a { display: inline-block; text-decoration: none; }

a:hover, a:focus, a:active { outline: none; text-decoration: none; box-shadow:none;  }

button:hover, button:focus, button:active  { outline: none; text-decoration: none; box-shadow:none; }

input:hover, input:focus, input:active { outline: none !important; text-decoration: none !important; box-shadow:none !important;  }

a.active { color: var(--theme-color) !important; }

/* Common Titles And Design */
.section-title { font-size: 30px; color: var(--text-black-strong); font-weight: 700; margin-bottom: 40px; }

.titleDesign { position: relative; }

.titleDesign::before { content: ''; height: 4px; width: 50px; background-color: var(--theme-color); position: absolute; top: 100%; left: 0; }

.titleDesign::after { content: ''; height: 4px; width: 25px; background-color: var(--theme-color); position: absolute; top: 100%; left: 0; margin-top: 8px; }

.themeDesign { position: relative; }

.themeDesign::before { content: ''; position: absolute; width: 20px; height: 20px; border-bottom: 5px solid var(--theme-color); border-left: 5px solid var(--theme-color); bottom: calc(0% - 5px); left: calc(0% - 15px); animation: themeDesignBefore linear 1s infinite alternate; -webkit-animation: themeDesignBefore linear 1s infinite alternate; }

.themeDesign::after { content: ''; position: absolute; width: 20px; height: 20px; border-top: 5px solid var(--theme-color); border-right: 5px solid var(--theme-color); top: calc(0% - 5px); right: calc(0% - 10px); animation: themeDesignAfter linear 1s infinite alternate; -webkit-animation: themeDesignAfter linear 1s infinite alternate; }

.content-pera { font-size: 14px; color: var(--text-lighter-300); margin-bottom: 10px; letter-spacing: 2px; }

.btn.btn-primary { background: transparent; border: 1px solid var(--theme-color); border-radius: 30px; padding: 10px 30px; font-weight: 600; font-size: 15px; line-height: 1; color: var(--theme-color); transition: all 0.3s ease; }

.btn.btn-primary:hover { border: 1px solid var(--theme-color); background: var(--theme-color); color: #FFFFFF; }

.ul-contentsli { position: relative; padding-left: 15px; }

.ul-contents li::before { position: absolute; content: ''; height: 10px; width: 10px; background: var(--theme-color); border-radius: 30px; left: 0; top: 9px; }

/*=====================================
    Hamburger Menu CSS
=====================================*/
.hamburger-menu {position: relative; width: 24px; height: 22px; transition: .5s ease-in-out; cursor: pointer; }

.hamburger-menu span:nth-child(1) {top: 2px; }

.hamburger-menu span:nth-child(2), .hamburger-menu span:nth-child(3) {top: 10px; }

.hamburger-menu span:nth-child(4) {top: 18px; }

.hamburger-menu span {display: block; position: absolute; height: 2px; width: 100%; background: #363637; border-radius: 10px; opacity: 1; left: 0; transition: .25s ease-in-out; }

.hamburger-menu.open span:nth-child(1) {top: 18px; width: 0; left: 50%; }

.hamburger-menu.open span:nth-child(2) {transform: rotate(45deg); }

.hamburger-menu.open span:nth-child(3) {transform: rotate(-45deg); }

.hamburger-menu.open span:nth-child(4) {top: 18px; width: 0; left: 50%; }

/*=====================================
    Header Section
=====================================*/
.header-section { position: fixed; width: 100%; top: 0; background: var(--bg-black-900); z-index: 9; padding: 15px 0; transition: all 0.3s ease; }

.header-section.sticky-top { padding: 5px 0; box-shadow: 0 0px 5px 0 var(--box-shadow); transition: all 0.3s ease; }

.header-section .navbar .site-branding { font-family: 'clicker script', cursive; font-size: 35px; letter-spacing: 6px; font-weight: 600; color: var(--text-black-strong); transition: all 0.3s ease; }

.header-section.sticky-top .navbar .site-branding { font-size: 25px; }

.header-section.sticky-top .themeDesign::before,
.header-section.sticky-top .themeDesign::after { animation: none !important; }

.header-section .navbar .site-navigation .nav-item { margin: 0 10px; }

.header-section .navbar .site-navigation .nav-item .nav-link { position: relative; font-size: 20px; font-weight: 400; line-height: 1; color: var(--text-black-normal); padding: 10px 0; display: flex; justify-content: center; align-items: center; transition: all 0.3s ease; }

.header-section.sticky-top .navbar .site-navigation .nav-item .nav-link { font-size: 15px; }

.header-section .navbar .site-navigation .nav-item .nav-link::after { position: absolute; content: ''; height: 3px; width: 0; background-color: var(--theme-color); top: 100%; transition: all 0.3s ease; }

.header-section .navbar .site-navigation .nav-item .nav-link:hover { color: var(--theme-color); }

.header-section .navbar .site-navigation .nav-item .nav-link.active::after ,
.header-section .navbar .site-navigation .nav-item .nav-link:hover::after { color: var(--theme-color); width: calc(100% - 10px); }

/*===================================
    Banner Section
=====================================*/
.banner-section { padding: 130px 0px 30px; }

.banner-section .bannerContent-wrap .aboutTitle { font-size: 50px; font-weight: 700; text-transform: uppercase; line-height: 1.2; margin-bottom: 20px; }

.banner-section .bannerContent-wrap .word { position: absolute; color: var(--theme-color); padding-left: 10px; opacity: 0; }

.banner-section .bannerContent-wrap .letter { display: inline-block; position: relative; transform: translateZ(25px); transform-origin: 50% 50% 25px; }

.banner-section .bannerContent-wrap .letter.out { transform: rotateX(90deg); transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.banner-section .bannerContent-wrap .letter.behind { transform: rotateX(-90deg); }

.banner-section .bannerContent-wrap .letter.in { transform: rotateX(0deg); transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.banner-section .bannerImg-wrap { position: relative; display: flex; justify-content: center; align-items: center; padding: 20px 0px; height: 430px; width: 390px; margin: auto; }

.banner-section .bannerImg-wrap::before { position: absolute; content: ""; background: url() no-repeat var(--bg-black-900); background-position: center; background-size: contain; width: calc(100% - 50px); height: calc(100% - 50px); }

.banner-section .bannerImg-wrap::after { position: absolute; content: ""; background: url(../images/banner_shape.png) no-repeat; background-position: center; background-size: cover; width: 100%; height: 100%; filter: var(--img-theme-color); animation: bannerAnimi1 linear 1s infinite alternate; -webkit-animation: bannerAnimi1 linear 1s infinite alternate; }

/*===================================
    About Section
=====================================*/
.about-section { padding: 30px 0px; }

.about-section .aboutMe-content h3 { font-size: 24px; font-weight: 400; letter-spacing: 2px; margin-bottom: 10px; }

.about-section .contactInfo-wrap { max-width: fit-content; margin: auto; }

.about-section .contactInfo-wrap ul li { margin-bottom: 10px; }

.about-section .contactInfo-wrap ul li .aboutIcons { font-weight: 500; font-size: 15px; line-height: 1; color: var(--text-black-normal); display: flex; align-items: center; gap: 10px; transition: all 0.3s ease; }

.about-section .contactInfo-wrap ul li .aboutIcons:hover { color: var(--theme-color); }

.about-section .contactInfo-wrap ul li .aboutIcons .icon { height: 35px; width: 35px; border: 1px solid var(--theme-color); border-radius: 10px; background: var(--bg-black-100); display: flex; align-items: center; justify-content: center; gap: 10px; transition: all 0.3s ease; }

.about-section .contactInfo-wrap ul li .aboutIcons:hover .icon ,
.about-section .contactInfo-wrap ul li .aboutIcons:hover path { background: var(--theme-color); fill: #FFF; }

.about-section .contactInfo-wrap ul li:first-child .aboutIcons:hover path { stroke: var(--theme-color); }

/*===================================
    Resume Section
=====================================*/
.resume-section { padding: 30px 0px; }

.resume-section .edu-exp-content-wrap { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; }

.resume-section .edu-exp-content-wrap .title { font-weight: 600; font-size: 26px; line-height: normal; color: var(--text-black-strong); margin-bottom: 15px; }

.resume-section .edu-exp-content-wrap .timeline-box { height: 100%; }

.resume-section .edu-exp-content-wrap .timeline { background-color: var(--bg-black-100); padding: 30px 15px; border: 1px solid var(--bg-black-50); border-radius: 10px; width: 100%; position: relative; height: 100%; }

.resume-section .edu-exp-content-wrap .timeline .timeline-item { position: relative; padding-left: 25px; padding-bottom: 50px; }

.resume-section .edu-exp-content-wrap .timeline .timeline-item:last-child { padding-bottom: 0; }

.resume-section .edu-exp-content-wrap .timeline .timeline-item::before { content: ''; width: 1px; position: absolute; height: 100%; left: 7px; top: 0; background-color: var(--theme-color); }

.resume-section .edu-exp-content-wrap .timeline .circle-dot { position: absolute; left: 0; top: 0; height: 15px; width: 15px; border-radius: 50%; border: 1px solid var(--theme-color); background: var(--bg-black-100); display: flex; justify-content: center; align-items: center; }

.resume-section .edu-exp-content-wrap .timeline .circle-dot::after { position: absolute; content: ''; height: calc(100% - 6px); width: calc(100% - 6px); background: var(--theme-color); border-radius: 30px; }

.resume-section .edu-exp-content-wrap .timeline .timeline-date { font-weight: 400; font-size: 14px; margin-bottom: 15px; color: var(--text-black-normal); display: flex; align-items: center; line-height: 1; gap: 10px; }

.resume-section .edu-exp-content-wrap .timeline .timeline-date .fa { margin-left: 5px; }

.resume-section .edu-exp-content-wrap .timeline .timeline-title { font-weight: 700; font-size: 18px; margin-bottom: 10px; text-transform: capitalize; color: var(--text-black-900); }

.resume-section .edu-exp-content-wrap .timeline .timeline-text { line-height: 25px; font-size: 16px; text-align: justify; color: var(--text-black-normal); }

/*===================================
    Skills Section
=====================================*/
.skills-section { padding: 60px 0px 30px; }
.skills-section .title { font-weight: 600; font-size: 24px; line-height: 1; color: var(--text-black-strong); margin-bottom: 20px; }
.skills-section .img-wrap { height: 40px; width: 40px; border: 1px solid var(--text-black-strong); border-radius: 10px; display: flex; justify-content: center; align-items: center; }
.skills-section .gridSkills { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; margin-bottom: 30px; }
.skills-section .skill-wrap { max-width: fit-content; display: flex; align-items: center; gap: 10px; font-weight: 400; font-size: 14px; line-height: 1; color: var(--text-black-normal); }












/*===================================
    Style Swicher Design
=====================================*/
.style-switcher { position: fixed; right: 0; top: 130px; padding: 15px; width: 200px; border: 1px solid var(--bg-black-50); background: var(--bg-black-100); z-index: 101; border-radius: 5px; transition: all 0.3s ease; transform: translateX(100%); }
.style-switcher.open { transform: translateX(-25px); }
.style-switcher .s-icon { position: absolute; height: 40px; width: 40px; text-align: center; font-size: 20px; background: var(--bg-black-100); color: var(--txt-black-900); right: 100%; border: 1px solid var(--bg-black-100); margin-right: 45px; cursor: pointer; transition: all 0.3 ease; border-radius: 50%; }
.style-switcher .s-icon i { line-height: 40px }
.style-switcher .style-switcher-toggler { top: 0; }
.style-switcher .day-night { top: 55px; }
.style-switcher h4 { margin: 0 0 10px; color: var(--txt-black-700); font-size: 16px; font-weight: 600; }
.style-switcher .colors { display: flex; flex-wrap: wrap; justify-content: space-between; }
.style-switcher .colors span { display: inline-block; height: 30px; width: 30px; border-radius: 50%; }
.style-switcher .color-1 { background: #0097CD; cursor: pointer; }
.style-switcher .color-2 { background: #fa5b0f; cursor: pointer; }
.style-switcher .color-3 { background: #37b182; cursor: pointer; }
.style-switcher .color-4 { background: #1854b4; cursor: pointer; }
.style-switcher .color-5 { background: #f021b2; cursor: pointer; }

/* Following Cursor Design */
#cursor { position: fixed; top: -3px; left: -3px; width: 5px; height: 5px; background-color: white; border-radius: 50%; pointer-events: none; z-index: 999; }
#cursor-border { animation: morphing-image 10s linear infinite forwards; --size: 15px; position: fixed; top: calc(var(--size) / -2); left: calc(var(--size) / -2); width: var(--size); height: var(--size); border-radius: 50%; box-shadow: 0 0 0 1px white; pointer-events: none; transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out; z-index: 999; }


/* CSS Animations */
@keyframes bannerAnimi1 {
    from { top: 5px; }
    to { top: 0; }
}

@keyframes themeDesignAfter {
    from { top: -0px; right: -5px; }
    to { top: -5px; right: -10px; }
}

@keyframes themeDesignBefore {
    to { bottom: calc(0% - 5px); left: calc(0% - 15px); } 
    from { bottom: calc(0% - 0px); left: calc(0% - 10px); }
}

@keyframes morphing-image {
    0% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; }
    10% {border-radius: 39% 61% 38% 62% / 53% 54% 46% 47%; }
    20% {border-radius: 56% 44% 52% 48% / 57% 35% 65% 43%; }
    30% {border-radius: 41% 59% 45% 55% / 43% 56% 44% 57%; }
    40% {border-radius: 46% 54% 60% 40% / 55% 65% 26% 45%; }
    50% {border-radius: 44% 56% 42% 65% / 41% 65% 46% 69%; }
    60% {border-radius: 41% 69% 42% 68% / 41% 71% 29% 69%; }
    70% {border-radius: 44% 56% 60% 40% / 63% 46% 64% 37%; }
    80% {border-radius: 46% 54% 38% 62% / 44% 48% 52% 56%; }
    90% {border-radius: 66% 45% 57% 43% / 49% 51% 49% 51%; }
    100% {border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; }
}